.buttonArea {
    width: 100%;
    max-width: var(--primary-button-width);
    margin-bottom: 6rem;
}

@media (max-width: 480px) {
    .buttonArea {
        width: 80%;
        margin: 20px 0px 3.6rem 0px;
    }
}