.dialogBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(185, 185, 185, 0.658) ;
  z-index: 500;
}

.dialogBackground dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 54%;
  background-color: white;
  backdrop-filter: 100px;
  border: none;
  border-radius: 18px;
  margin: 20px;
  padding: 0;
}

.closeButtonWrapper {
  position: fixed;
  right: 0.3rem;
  top: 0.55rem;
  z-index: 1;
}

.closeButtonWrapper button {
  background: none;
  border: none;
  cursor: pointer;
}

.closeButton {
  position: relative;
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.accessButton {
  width: 100%;
  height: 36px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 0.9rem;
  font-weight: 400;
}

.successTitle h2 {
  line-height: 2.4rem;
}

.successH2 {
  display: block;
}

@media (width <= 384px) {
  
  .dialogBackground dialog {
    width: auto;
    min-width: 230px;
    height: auto;
    min-height: 430px;
    margin: auto;
    border-radius: 10px;
  }

  .closeButtonWrapper {
    right: 0rem;
    top: 0rem;
  }

  .closeButton {
    width: 12px;
    height: 12px;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
  }

  .imageWrapper {
    position: relative;
    width: 230px;
    height: 240px;
    object-fit: contain;
  }

  .contentWrapper {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 1.2rem;
    line-height: 1.56rem;
    font-weight: 500;
    margin-top: 0.4rem;
    margin-bottom: 0rem;
  }

  .description {
    color: var(--grey);
    font-weight: 400;
    font-size: 0.6rem;
    width: 80%;
    line-height: 0.7rem;
  }

  .textArea {
    width: 80%;
    margin-bottom: 0rem;
  }

  .buttonArea {
    width: 80%;
  }

  .buttonArea button {
    font-size: 0.72rem;
    font-weight: 500;
    border-radius: 5px;
  }

  .accessButton {
    width: 100%;
    height: 32px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .successTitle {
    margin-top: -1.3rem;
  }

  .successSpan {
      font-size: 0.75rem;
      line-height: 1rem;
  }

  .successH2 {
      font-size: 1.4rem;
      margin-top: 0.3rem;
      line-height: 1.96rem;
  }

}

@media (384px < width <= 480px) {
  
  .dialogBackground dialog {
    width: auto;
    min-width: 300px;
    height: auto;
    min-height: 300px;
    margin: auto;
    border-radius: 10px;
  }

  .closeButtonWrapper {
    right: 0.25rem;
    top: 0.5rem;
  }

  .closeButton {
    width: 15px;
    height: 15px;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
  }

  .imageWrapper {
    position: relative;
    width: 300px;
    height: 320px;
    object-fit: contain;
  }

  .contentWrapper {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
    margin-top: 0.4rem;
    margin-bottom: 0rem;
  }

  .description {
    color: var(--grey);
    font-weight: 400;
    font-size: 0.86rem;
    width: 80%;
    line-height: 1.2rem;
  }

  .textArea {
    width: 80%;
    margin-bottom: 0rem;
  }

  .buttonArea {
    width: 80%;
  }

  .buttonArea button {
    font-size: 0.86rem;
    font-weight: 500;
  }

  .successTitle {
    margin-top: -1rem;
  }

  .successSpan {
      font-size: 0.9rem;
  }

  .successH2 {
      font-size: 1.5rem;
      margin-top: 0.5rem;
      line-height: 2rem;
  }

}

@media (min-width: 480px) {
  
  .dialogBackground dialog {
    width: 600px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .closeButtonWrapper {
    right: 0.25rem;
    top: 0.5rem;
  }

  .closeButton {
    width: 18px;
    height: 18px;
  }

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 11px;
  }

  .imageWrapper {
    position: relative;
    width: 320px;
    height: 350px;
    object-fit: contain;
    margin-right: -1.2rem;
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 47%;
    height: 300px;
  }

  .title {
    font-size: 1.74rem;
    line-height: 2rem;
    font-weight: 500;
    margin-top: 3.8rem;
    margin-bottom: 0rem;
  }

  .description {
    color: var(--grey);
    font-weight: 400;
    font-size: 0.86rem;
    width: 90%;
    line-height: 1.2rem;
  }

  .textArea {
    width: 96%;
    margin-bottom: 0rem;
  }

  .buttonArea {
    width: 96%;
  }

  .buttonArea button {
    font-size: 0.86rem;
    font-weight: 500;
  }

  .successTitle {
    margin-top: 1rem;
  }

  .successSpan {
      font-size: 0.9rem;
  }

  .successH2 {
      font-size: 2rem;
      margin-top: 0rem;
      line-height: 2.7rem;
  }

}

@media (max-width: 1024px) {

  .dialogBackground dialog {
    margin-left: auto;
    margin-right: auto;
  }

}