.container {
  max-width: 1150px;
  margin: auto;
  padding: 50px 0px;
}
.container p {
  margin-bottom: 20px;
  text-indent: 30px;
  max-width: 1150px;
  text-align: justify;
  font-size: var(--Body1);
}

@media (max-width: 800px) {
  .container {
    max-width: 700px;
    margin: 0px 20px;
  }
  .container img {
    max-width: 100%;
  }
}
