.footer { 
    background-color: rgb(161, 146, 146);
    width: 100%;
   
    
}
.footer ul {
    color: aliceblue;

}
.footer li{
    margin:10px
}
.container{
 display: flex;
 justify-content: space-around;
 margin-left: 80px;
 margin:80px 80px 0px 80px ;
}
.row{

margin:20px

}

.footerText {
 color: red;
 text-decoration: underline;

  }

  .left{
    display:grid;
    width:25%

  }