.nav {
  background-color: var(--GhostWhite);
  width: 100%;
  margin: 0px;
  position: sticky;
  top: 0;
  z-index: 100;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 12px 20px;
  align-items: center;
}

.ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.li {
  margin-right: 32px;
}
.logo {
  margin-right: auto;
}
.innerWrapper {
  display: flex;
  align-items: center;
}

.li :global(a) {
  text-decoration: none;
}

.login {
  margin-right: 0;
  width: 124px;
}
.hamburger {
  display: none;
}
.dropdownMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--GhostWhite);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.dropdownMenu li {
  margin-top: 10px;
  padding: 20px;
}
.dropdownContainer {
  position: fixed;
  top: 0;
  right: 0;
}

@media (width <=999px) {
  .wrapper {
    padding: 12px 30px;
  }
  .hamburger {
    display: block;
    margin-left: auto;
  }
  .innerWrapper {
    display: none;
  }
}
