.nav {
  background-color: var(--GhostWhite);
  width: 100%;
  margin: 0px;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0px 2px 8px 0px #0000001F;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 12px 20px;
  align-items: center;
}

.ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.li {
  margin-right: 32px;
}

.li:hover {
  background-color: lightgray;
}

.li .userOutlet {
  width: 124px;
}

.logo {
  margin-right: auto;
}

.innerWrapper {
  display: flex;
  align-items: center;
}

.li :global(a) {
  text-decoration: none;
}

.login {
  margin-right: 0;
  width: 124px;
}

.hamburger {
  display: none;
}

.dropdownMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--GhostWhite);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.dropdownMenu li {
  margin-top: 10px;
  padding: 20px;
}

.dropdownContainer {
  position: fixed;
  top: 0;
  right: 0;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown ul {
  list-style: none;
}

.dropdown li {
  padding-top: 5px;
}


.dropdownContent {
  opacity: 0.9;
  background-color: var(--GhostWhite);
  display: none;
  position: absolute;
  margin-right: 5px;
  min-width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 10px;
  z-index: 1;
}

.dropdown:hover .dropdownContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (width >=320px) {
  .dropdownMenu {
    height: 455px;
    overflow-y: scroll;
  }
}

@media (320px < width <=360px) {
  .dropdownMenu {
    height: 525px;
    overflow-y: scroll;
  }
}

@media (width <=999px) {
  .wrapper {
    padding: 12px 30px;
  }

  .hamburger {
    background-color: var(--GhostWhite);
    display: block;
    margin-left: auto;
  }

  .innerWrapper {
    display: none;
  }
}