.nav {
  background-color: var(--GhostWhite);
  width: 100%;
  margin: 0px;
  position: sticky;
  top: 0;
  z-index: 100;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 12px 80px;
 
  align-items: center;
}

.ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.li {
  margin-right: 32px;
}
.logo {
  margin-right: auto;
}
.innerWrapper {
  display: flex;
  align-items: center;
  
}
.li :global(a) {
  color: black;
  text-decoration: none;
}

.login {
  margin-right: 0;
  width: 124px;
}
.hamburger{
 
  display: none;
  
}
.mobileMenu {
  display: none;
  /* Add other styles for positioning and appearance */
}
.mobileMenu.show {
  display: block;
}

.mobileMenu {
  display: none;
  background-color: var(--GhostWhite); /* Same background color as your nav */
  position: absolute;
  top: 60px; /* Adjust as needed to position the menu below the navbar */
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional box shadow for a subtle effect */
}
.mobileUl {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.mobileLi {
  margin-bottom: 10px; /* Adjust spacing between menu items */
}

.mobileLi :global(a) {
  color: black;
  text-decoration: none;
  padding: 10px;
  display: block;
  transition: background-color 0.3s ease;
}

@media (280px <= width <=760px) {
  .logo {
    max-width: 150px; 
  }
  .wrapper {   
    margin: 12px 30px;    
  }
  .hamburger{   
    display: block;
    margin-left: auto;    
  }
  .innerWrapper {
    display:none
  }
}
@media (761px <= width <=1000px) {
  .logo {
    max-width: 130px; 
  }
  
  .wrapper {   
    margin: 5px 15px;    
  }
  .nav { 
    font-size:small;
  }
  .login {
    height: 70%;
    width:auto;
    font-size:small;
  }
 
}

