.bannerColumn {
  display: flex;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(194.75deg, rgba(102, 0, 204, 0) -78.84%, rgba(102, 0, 204, 0.4) 36.62%, #4A4AFF 102.62%);
  color: var(--GhostWhite);
  padding: 6rem 2rem;
  align-content: space-between;
  flex-wrap: wrap;
  min-height: 692px;
  border-radius: 0px 8px 8px 0px;
}

.forgotPassword {
  text-align: right;
  text-decoration: underline;
}

.forgotPassword>a {
  font-weight: 600;
  font-size: 16px;
  color: var(--cherryPieVariant);
}

.breakLineWrapper {
  display: flex;
  align-items: center;
  padding: 1rem 0px;
}

.breakLine {
  border: 1px solid var(--greyVariant);
  width: 100%;
  height: 0px;
}

.or {
  margin: 0px 3px;
  color: var(--BondBlackVariant);
  font-size: 0.9rem;
}

.btn {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
}

.submitBtn {
  background: var(--cherryPie);
}

.callToAction {
  color: var(--cherryPieVariant);
}

.callToAction>a {
  font-weight: 600;
}

.formColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--GhostWhiteSub);
}

.formColumnWrapper {
  width: 543px;
  max-width: 90%;
  padding-top: 48px;
  padding-bottom: 48px;
  margin: auto;
}

.formTitleWrapper {
  border-bottom: 1px solid var(--greyVariant);
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.formTitle {
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  text-align: left;
}

.dobInputContainer {
  display: flex;
}

.dobInputContainer>* {
  flex: 1 0 0;
}