.btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  border: 1px;
  gap: 8px;
  border: 1px solid var(--cherryPieVariant);
  background: var(--cherryPie);
  color: var(--GhostWhite);
  font-family: var(--poppins-font);
  font-weight: 600;
  font-size: large;
}

.disabled {
  opacity: 60%;
  cursor: not-allowed;
}

.icon {
  width: 24px;
  height: 24px;
  padding: 2.23px, 2.25px, 2.25px, 2.23px;
  font-weight: 100;
  font-size: larger;
}

.login {
  font-weight: 400;
  font-size: large;
  height: 48px;
  display: flex;
  justify-content: space-evenly;
  padding: 0px 10px;
}

.btn1Full {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 312px;
  height: 48px;
  border-radius: 8px;
  border: 1px;
  gap: 8px;
  border: 1px solid var(--cherryPieVariant);
  background: var(--cherryPieVariant);
  color: var(--GhostWhite);
  font-family: var(--poppins-font);
  font-weight: 600;
  font-size: large;
  padding: 12px, 24px, 12px, 24px;
}
.btn2 {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  border: 1px;
  gap: 8px;
  border: 1px solid var(--cherryPieVariant);
  background-color: var(--GhostWhite);
  color: var(--cherryPieVariant);
  font-family: var(--poppins-font);
  font-weight: 600;
  font-size: large;
  padding: 12px, 24px, 12px, 24px;
}
.btn2Full {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 312px;
  height: 48px;
  border-radius: 8px;
  border: 1px;
  gap: 8px;
  border: 1px solid var(--cherryPieVariant);
  background-color: var(--GhostWhite);
  color: var(--cherryPieVariant);
  font-family: var(--poppins-font);
  font-weight: 600;
  font-size: large;

  padding: 12px, 24px, 12px, 24px;
}
.btn3 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cherryPieVariant);
  background-color: var(--GhostWhite);
  border: var(--GhostWhite);
  width: 173px;
  height: 48px;
  padding: 12px, 24px, 12px, 24px;
  border-radius: 8px;
  gap: 8px;
  font-family: var(--poppins-font);
  font-weight: 600;
  font-size: large;
  line-height: 24px;
}
.btn3Full {
  width: 312px;
  height: 48px;
  padding: 12px, 24px, 12px, 24px;
  border-radius: 8px;
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cherryPieVariant);
  background-color: var(--GhostWhite);
  border: var(--GhostWhite);
  font-family: var(--poppins-font);
  font-weight: 600;
  font-size: large;
  line-height: 24px;
}
.display {
  margin: 50px;
}
