.common {
  padding-inline: 0px;
  padding-block: 0px;
  cursor: pointer;
}

.common>a {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}

.primary {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  border: 1px;
  gap: 8px;
  border: 1px solid var(--cherryPieVariant);
  background: var(--cherryPie);
  color: var(--GhostWhite);
  font-family: var(--poppins-font);
  font-weight: var(--body2-strong-font-weight);
  font-size: var(--body2-strong-font-size);
  width: var(--primary-button-width);
  height: var(--primary-button-height);
}

.primary>a {
  width: 100%;
  height: var(--primary-button-height);
  line-height: var(--primary-button-height);
}

.secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px;
  gap: 8px;
  border: 1px solid var(--cherryPieVariant);
  background-color: var(--pure-white);
  color: var(--cherryPieVariant);
  font-family: var(--poppins-font);
  font-weight: var(--body2-strong-font-weight);
  font-size: var(--body2-strong-font-size);
  width: var(--secondary-button-width);
  height: var(--secondary-button-height);
}

.tertiary {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cherryPieVariant);
  background-color: var(--pure-white);
  border: var(--GhostWhite);
  border-radius: 8px;
  gap: 8px;
  font-family: var(--poppins-font);
  font-weight: var(--body2-strong-font-weight);
  font-size: var(--body2-strong-font-size);
  width: var(--tertiary-button-width);
  height: var(--tertiary-button-height);
  line-height: calc(var(--tertiary-button-height) / 2);
}

.disabled {
  opacity: 60%;
  cursor: not-allowed;
}

.icon {
  width: 24px;
  height: 24px;
  padding: 2.23px, 2.25px, 2.25px, 2.23px;
  font-weight: 100;
  font-size: larger;
}

.display {
  margin: 50px;
}

@media (max-width: 480px) {
  .primary {
    width: 80%;
  }
}

/* Notes: keep this at the last because it needs to override all width property above and achieve 100% width */
.fullWidth {
  width: 100%;
}