.primary {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  border: 1px;
  gap: 8px;
  border: 1px solid var(--cherryPieVariant);
  background: var(--cherryPie);
  color: var(--GhostWhite);
  font-family: var(--poppins-font);
  font-weight: var(--Body2Strong-font-weight);
  font-size: var(--Body2Strong-font-size);
  width: var(--primary-button-width);
  height: var(--primary-button-height);
}

.secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px;
  gap: 8px;
  border: 1px solid var(--cherryPieVariant);
  background-color: var(--pure-white);
  color: var(--cherryPieVariant);
  font-family: var(--poppins-font);
  font-weight: var(--Body2Strong-font-weight);
  font-size: var(--Body2Strong-font-size);
  width: var(--secondary-button-width);
  height: var(--secondary-button-height);
  padding: 12px, 24px, 12px, 24px;
}

.tertiary {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cherryPieVariant);
  background-color: var(--pure-white);
  border: var(--GhostWhite);
  width: 173px;
  height: 48px;
  padding: 12px, 24px, 12px, 24px;
  border-radius: 8px;
  gap: 8px;
  font-family: var(--poppins-font);
  font-weight: var(--Body2Strong-font-weight);
  font-size: var(--Body2Strong-font-size);
  width: var(--tertiary-button-width);
  height: var(--tertiary-button-height);
  line-height: 24px;
}

.disabled {
  opacity: 60%;
  cursor: not-allowed;
}

.icon {
  width: 24px;
  height: 24px;
  padding: 2.23px, 2.25px, 2.25px, 2.23px;
  font-weight: 100;
  font-size: larger;
}

.display {
  margin: 50px;
}

@media (max-width: 480px) {
  .primary {
    width: 80%;
  }
}

/* Notes: keep this at the last because it needs to override all width property above and achieve 100% width */
.fullWidth {
  width: 100%;
}