

.btn1 {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 48px;
  border-radius: 8px;
  border: 1px;
  gap: 8px;
  border: 1px solid #6600cc;
  background: #6600cc;
  color: #f8f8ff;
  font-family: var(--poppins-font);
  font-weight: 600;
  font-size: large;
}

.disabled {
  opacity: 60%;
  cursor: not-allowed;
}

.icon {  
  width: 24px;
  height: 24px;
  padding: 2.23px, 2.25px, 2.25px, 2.23px;  
  font-weight: 100;
  font-size: larger;
}

.btn1Full {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 312px;
  height: 48px;
  border-radius: 8px;
  border: 1px;
  gap: 8px;
  border: 1px solid #6600cc;
  background: #6600cc;
  color: #f8f8ff;
  font-family: var(--poppins-font);
  font-weight: 600;
  font-size: large;
  padding: 12px, 24px, 12px, 24px;
}
.btn2 {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 48px;
  border-radius: 8px;
  border: 1px;
  gap: 8px;
  border: 1px solid #6600cc;
  background-color: white;
  color: #6600cc;
  font-family:var(--poppins-font);
  font-weight: 600;
  font-size: large;
  padding: 12px, 24px, 12px, 24px;
}
.btn2Full {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 312px;
  height: 48px;
  border-radius: 8px;
  border: 1px;
  gap: 8px;
  border: 1px solid #6600cc;
  background-color: white;
  color: #6600cc;
  font-family: var(--poppins-font);
  font-weight: 600;
  font-size: large;

  padding: 12px, 24px, 12px, 24px;
}
.btn3 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6600cc;
  background-color: white;
  border: white;
  width: 173px;
  height: 48px;
  padding: 12px, 24px, 12px, 24px;
  border-radius: 8px;
  gap: 8px;
  font-family:var(--poppins-font);
  font-weight: 600;
  font-size: large;
  line-height: 24px;
  
}
.btn3Full{
  width: 312px;
  height: 48px;
  padding: 12px, 24px, 12px, 24px;
  border-radius: 8px;
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6600cc;
  background-color: white;
  border: white;
  font-family: var(--poppins-font);
  font-weight: 600;
  font-size: large;
  line-height: 24px;

  
}
.display {
  margin: 50px;
}



