.podcastContainer {
  padding: 3vw;
  width: 90%;
  height: 590px;
  text-align: center;
}
.podcastHeader {
  margin-bottom: 48px;
}
@media (max-width: 430) {
  .podcastContainer {
    margin: 0px;
    height: auto;
  }
}
