.podcastContainer {
  margin: 80px;
  width: 1280px;
  height: 590px;
  text-align: center;  
}


.podcastHeader {
 margin-bottom: 48px;
 
}
@media (max-width: 1000px) {
  .podcastContainer {
    margin: 40px;
    width: 80%;
    height: 100%;
  }
}
