.badgeWrapper {
  width: 20vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  margin: 5vw 1vw;
}
.silverAndBronze {
  display: flex;
  gap: 4vw;
}

@media (max-width: 1000px) and (min-width: 481px) {
  .badgeWrapper {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
  }
  .badgeWrapper img {
    gap: 120px;
  }
  .gold {
    display: flex;
    margin-right: 4vw;
  }
}
@media (max-width: 480px) {
  .badgeWrapper {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
  }

  .gold {
    display: flex;
    margin-right: 4vw;
  }
  .gold img,
  .silverAndBronze img {
    width: 90px;
    height: 90px;
  }
}
