.container {
  max-width: 100%;
  margin: 0px 1rem;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 600px;
  object-fit: contain;
  margin: 0px auto;
}

.articleText {
  text-indent: 30px;
  margin-top: 35px;
}

.paragraph {
  line-height: 2.5rem;
  width: 100%;
}

.paragraph h3 {
  text-indent: 0px;
}

.paragraph p {
  margin-bottom: 20px;
  text-align: justify;
  font-size: var(--Body1);
}

@media (max-width: 1024px) and (min-width: 480px) {

  .imageWrapper {
    height: 400px;
  }

}

@media (max-width: 480px) {

  .container {
    padding: 0rem;
    margin: 0px 0.3rem;
  }

  .imageWrapper {
    position: relative;
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin: 0px auto;
  }

  .articleText {
    margin-top: 20px;
  }

}