.container{
    margin:32px 80px 80px 80px;   
   text-align: center;
   
}
@media (max-width: 800px) {
    .container{
      margin:32px 40px 60px 40px;   
     text-align: center;
     
  }
     
    }