@media (min-width: 480px) {
   
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   
    .title {
        border-bottom: 1px solid black;
        margin: 30px;
    }

    .bodyText {
        margin-bottom: 30px;
        max-width: 65vw;
        text-align: justify;
    }

    .accessButton {
        width: 16rem;
        height: 3rem;
        margin-bottom: 40px;
    }

}

@media (max-width: 480px) {
    .container {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bodyText {
        text-align: justify;
        margin: 0 30px 30px 30px;
        padding: 0px 10px;
    }

    .accessButton {
        width: 15rem;
        height: 3rem;
        margin: 20px 0px 50px 0px;
    }

}
