.bannerContainer {
  width: 100vw;
  height: 65vh;
  background-image: url('../../images/podcast-banner.svg');
  background-repeat: no-repeat;
  background-size: 100vw 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px) {
  .bannerContainer {
    width: 100vw;
    height: 250px;
    background-size: 100vw 250px;
    background-repeat: no-repeat;
  }
}
