.textBox {
  width: 15rem;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--BondBlack);
  padding: 0px 10px;
}

.long {
  width: 20rem;
}

.longer {
  width: 25rem;
}
/* errorRed */
.textboxError {
  border: 1px solid var(--errorRed);
}

.textBoxContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.errorMessage {
  color: var(--errorRed);
}

.label {
  padding: 0px 3px;
}
