.main {
    width: 100%;
    margin-top: 3rem;
}

.title {
    text-align: center;
}

.embla {
    position: relative;
    margin-bottom: 50px;
}

.button_container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50px;
    width: 100%;
}

.button_container button {
    display:none; 
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button_container img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.embla__viewport {
    overflow: hidden;
    margin: 40px 0% 0px 0%;
}

.embla__container {
    display: flex;
    justify-content: space-evenly;
}

.embla__slide {
    flex: 0 0 25%;
    min-width: 0;
    text-align: center;
    margin:0px 0px;
}

.embla__slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 480px) {

    .main {
        margin-top: 2rem;
    }

    .button_container button {
        display:block; 
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .title{
        margin: 0px 50px;
    }

    .button_container {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 15px;
        z-index: 1;
        width: 100%;
    }

    .embla__viewport {
        margin: 40px 10% -40px 10%;
    }

    .embla__slide {
        flex: 0 0 33%;
        min-width: 0;
        text-align: center;
    }
    
    .embla__slide img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

}