.cardList {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  margin: 48px 0px;
  width: 90%;
}

.card {
  border: 1px solid var(--cherryPieSub);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  box-shadow: 0.3rem 0.3rem 8px var(--greyVariant);
  width: 380px;
  max-width: 380px;
}

.cardImage {
  position: relative;
  width: 100%;
  height: 240px;
  object-fit: contain;
  margin-bottom: 8px;
}

.cardImage img {
  border-radius: 8px 8px 0px 0px;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: auto;
}

.description {
  padding: 5px 20px 0px 20px;
}

.buttonArea button {
  cursor: pointer;
}

@media (max-width: 500px) {
  .cardList {
    flex-wrap: wrap;
  }

  .cardImage {
    height: 180px;
  }

  .card {
    border: 1px solid var(--cherryPieSub);
    border-radius: 8px;
    display: flex;
    flex: content;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin: 10px 10px;
    width: 80vw;
  }

  .description {
    padding: 8px 20px 0px 20px;
  }
}

@media (max-width: 1024px) and (min-width: 480px) {
  
  .cardList {
    gap: 0px;
    flex-wrap: nowrap;
  }

  .cardImage {
    height: 140px;
  }
  
  .card {
    border: 1px solid var(--cherryPieSub);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: left;
    margin: 10px 10px;
    width: 200px;
    max-width: 200px;
  }
}
