:root {
  font-family: var(--poppins-font);

  /* based on  NDA style guide  */
  --Heading1: 128px;
  --Heading2: 96px;
  --Heading3: 64px;
  --Heading4: 48px;
  --Subheading1: 40px;
  --Subheading2: 36px;
  --Subheading3: 32px;
  --GhostWhite: #f8f8ff;
  --GhostWhiteVariant:#EFEFFF;
  --skyBlue: #3399ff;
  --persianRose: #ff0099;
  --cherryPie: #330066;
  --navyBlue: #000066;
  --BondBlack: #070707;
  --cherryPieSub: #d2a4ff;
  --errorRed: red;
}
body {
  margin: 0px;
  padding: 0px;
}
