:root {
  font-family: var(--poppins-font);
  

  /* Desktop */
  --Heading1-font-weight: 700;
  --Heading1-font-size: 48px;

  --Heading2-font-weight: 500;
  --Heading2-font-size: 36px;

  --Heading3-font-weight: 500;
  --Heading3-font-size: 28px;

  --Body1-font-weight: 400;
  --Body1-font-size: 24px;

  --Body2Strong-font-weight: 600;
  --Body2Strong-font-size: 16px;

  --Body2-font-weight: 400;
  --Body2-font-size: 16px;

  --Body3Strong-font-weight: 500;
  --Body3Strong-font-size: 14px;

  --Body3-font-weight: 400;
  --Body3-font-size: 14px;

  --LabelText-font-weight: 400;
  --LabelText-font-size: 12px;

  /* Mobile */
  --Mobile-Heading1-font-size: 24px;
  --Mobile-Heading2-font-size: 20px;
  --Mobile-Heading3-font-size: 18px;
  --Mobile-Body1-font-size: 18px;
  --Mobile-Body2Strong-font-size: 16px;
  --Mobile-Body2-font-size: 16px;
  --Mobile-Body3Strong-font-size: 12px;
  --Mobile-Body3-font-size: 12px;

  
  --GhostWhite: #f8f8ff;
  --GhostWhiteSub: #f8f8ff;
  --GhostWhiteVariant: #EFEFFF;
  --skyBlue: #3399ff;
  --persianRose: #ff0099;
  --cherryPie: #330066;
  --navyBlue: #000066;
  --BondBlack: #070707;
  --BondBlackVariant: #3E3E3E;
  --BondBlackSub: #5c5b5b;
  --cherryPieSub: #d2a4ff;
  --cherryPieVariant: #6600cc;
  --cherryPieVariantSub: #9834fc;
  --cherryPieBlue: #7240fc;
  --cherryPieBlueVariant: #5d1df1;
  --errorRed: red;
  --grey: #b8b8b8;
  --greyVariant: #d3d3d3;
  --grey-500: #4D4B52;
}

body {
  margin: 0px;
  padding: 0px;
}