:root {
  font-family: var(--poppins-font);

  /* based on  NDA style guide  */
  --Heading1: 128px;
  --Heading2: 96px;
  --Heading3: 64px;
  --Heading4: 48px;
  --Subheading1: 40px;
  --Subheading2: 36px;
  --Subheading3: 32px;
  --GhostWhite: #f8f8ff;
  --GhostWhiteSub: #f8f8ff;
  --GhostWhiteVariant:#EFEFFF;
  --skyBlue: #3399ff;
  --persianRose: #ff0099;
  --cherryPie: #330066;
  --navyBlue: #000066;
  --BondBlack: #070707;
  --BondBlackVariant:#3E3E3E;
  --BondBlackSub: #5c5b5b;
  --cherryPieSub: #d2a4ff;
  --cherryPieVariant: #6600cc;
  --cherryPieVariantSub: #9834fc;
  --cherryPieBlue: #7240fc;
  --cherryPieBlueVariant: #5d1df1;
  --errorRed: red;
  --grey: #b8b8b8;
  --greyVariant: #d3d3d3;
}
body {
  margin: 0px;
  padding: 0px;
}
