.message {
  border: 1px solid var(--BondBlack);
  border-radius: 8px;

  padding: 0px 10px;
}
.textAreaError {
  border: 1px solid var(--errorRed);
}

.textAreaContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.errorMessage {
  color: var(--errorRed);
}

.label {
  padding: 0px 3px;
}
