.message textarea {
  border: 1px solid var(--BondBlack);
  border-radius: 8px;
 
  padding: 0px 10px;
}
/* 
.long {
  width: 15rem;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--BondBlack);
  padding: 0px 10px;
} */


.textAreaError {
  border: 1px solid var(--errorRed);
}

.textAreaContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.errorMessage {
  color: var(--errorRed);
}

.label {
  padding: 0px 3px;
}
