@media (max-width: 480px) {

    .container {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
    }

    .bodyText {
        margin-bottom: 30px;
        padding: 0px 10px;
    }

    .serviceDescription {
        margin: 0px 30px;
    }

}

@media (min-width: 480px) {

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
    }

    .title {
        border-bottom: 1px solid var(--BondBlack);
        margin: 30px;
    }

    .bodyText {
        margin-bottom: 30px;
    }

    .serviceDescription {
        margin-bottom: 50px;
        max-width: 65vw;
        
    }
    
}
    