.bannerContainer {
  width: 100vw;
  height: 80vh;
  background-image: url('../../images/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.textContainer {
  width: 55vw;
  padding: 20px;
  color: var(--GhostWhite);
  text-align: left;
  margin: 5vw;
}
.textBody {
  width: 55vw;
}

@media (max-width: 1000px) and (min-width: 481px) {
  .bannerContainer {
    flex-direction: column;
    height: auto;
  }
  .textBody {
    width: 85vw;
  }
  .textHeader {
    width: 85vw;
  }
}

@media (max-width: 480px) {
  .bannerContainer {
    flex-direction: column;
    height: auto;
  }
  .textBody {
    width: 85vw;
  }
  .textHeader {
    width: 85vw;
  }
}
