.bannerContainer {
  width: 100%;
  height: 65vh;
  background-image: url('../../images/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bannerTextAndBadge{
  display: flex;  
}
.textContainer {
  width: 55vw;
  padding: 20px;
  color: var(--GhostWhite);
  text-align: left;
  margin: 1vw;
}
.textBody {
  width: 55vw;
}
.mobileSearchBar{
  display: none;
 }

@media (max-width: 1000px) and (min-width: 480px) {
  .descktopSearchBar{
    display: none;
  }
  .mobileSearchBar{
    display: block;
    height: 30vh;
   }
  .bannerContainer {
    flex-direction: column;
    height: auto;
  }
  .bannerTextAndBadge{
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .bannerContainer {
    flex-direction: column;  
    height: auto;  
  }
  .textContainer {
    width: fit-content;
    padding: 20px;
    color: var(--GhostWhite);
    text-align: left;
    margin: 1vw;
  }
  .bannerTextAndBadge{
    flex-direction: column;
    justify-content: center;
  }
  .descktopSearchBar{
    display: none;
  }
  .mobileSearchBar{
   display: block;
   height: 40vh;
  }
}
