.container {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.title {
  border-right: 2px solid var(--grey-300);
  padding: 30px;
  height: auto;
  align-items: center;
}

.textboxBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 30px 50px;
}

.nameArea,
.phoneArea {
  display: flex;
}

.emailJobArea {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 0.9rem;
}

.primaryBtn {
  width: 80%;
  margin-top: 1rem;
  padding: 0 15px;
}

@media (max-width: 480px) {

  .container {
    flex-direction: column;
    align-items: center;
  }

  .title {
    text-align: center;
    border-right: none;
    border-bottom: 2px solid var(--grey-300);
    width: 75%;
    padding-top: 10px;
  }

  .mobileTitle {
    font-size: var(--heading2-font-size);
  }

  .nameArea {
    flex-direction: column;
    gap: 0;
  }

  .phoneArea {
    display: block;
    gap: 0;
  }

  .secondPhone {
    display: none;
  }

  .emailJobArea {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .messageArea {
    margin-bottom: 2rem;
  }

  .primaryBtn {
    margin: 1.2rem auto;
  }

}

@media (min-width: 1280px) {
  .nameArea,
  .phoneArea {
    gap: 2rem;
  }
}