.container {
  display: flex;
  justify-content: center;
}
.container form {
  background-color: var(--GhostWhite);
  width: 90vw;
  backdrop-filter: 100px;
  border-radius: 8px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--CherryPie);
  border-radius: 10px;
}
.title {
  border-right: 2px solid rgb(105, 103, 103);

  padding: 30px;
  height: 45vh;  
  align-items: center;
}
.closeButton {
  position: fixed;
  top: 1%;
  right: 1%;
  margin: 0px;
}
.textboxBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 30px 50px;
}
.container button {
  margin: 25px;
  text-align: center;
}
.textArea {
  margin-bottom: 15px;
  text-align: left;
}
.message input {
  height: 5rem;
}
.buttonArea {
  display: flex;
  justify-content: center;
}
.header {
  margin: 0px;
  text-align: center;
}
.header h1 {
  margin: 0px 0px 40px 0px;
}
.name {
  display: flex;
  margin-bottom: 15px;
  gap: 50px;
}
@media (max-width: 800px) {
  .container {
    display: flex;
    justify-content: center;
    height:100vh
  }
  .container form {
    background-color: var(--GhostWhite);
    width: 90vw;
    backdrop-filter: 100px;
    border-radius: 8px;   
    display: flex;
    flex-direction: column;    
    border: 1px solid var(--CherryPie);
    border-radius: 10px;
  }
  .title {
    border-bottom: 2px solid rgb(105, 103, 103);
    border-right: 0px;
    padding: 30px;
    margin: 10px 25px;
    height: 15vh;
    text-align: center;
    align-items: center;
  }
  .name {
    display: flex;
    flex-direction: column;
    margin-bottom: 1px;
    gap: 0px;
  }
  .textboxBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
  }
  .textboxBody input{
    width:60vw;
  }

}