@media (min-width: 480px) {
  .stepsContainer {
    text-align: center;  
    background-color: var(--cherryPie);
    height: 60vh;
  }
  .stepsTitle {
    padding-top: 80px;
  }
  .factGrid {
    display: flex;    
    justify-content: center;
    margin: 8vh;    
  }

  .gridItem {
    /* max-width: 480px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--bondBlack);
   gap:auto
   
  }
  .gridItem span {
    margin-top: 2vh;
    height: 4vh;
  }

}
@media (max-width: 480px) {

}
