.common {
  color: var(--BondBlack);
  font-style: normal;
  line-height: normal;
}

.mobBody3 {
  font-size: 14px;
  font-weight: 400;
}

.mobBody3Strong {
  font-size: 14px;
  font-weight: 500;
}

.heading3 {
  font-size: 28px;
  font-weight: 500;
}

@media (min-width: 480px) {

  /* desktop view */
  .heading1 {
    font-size: 48px;
    font-weight: 700;
  }

  .heading2 {
    font-size: 36px;
    font-weight: 500;
  }

  .body1 {
    font-size: 20px;
    font-weight: 400;
  }

  .body2Strong {
    font-size: 16px;
    font-weight: 600;
  }
}

@media (max-width: 480px) {

  /* mobile view */
  .heading1 {
    font-size: 24px;
    font-weight: 700;
  }

  .heading2 {
    font-size: 20px;
    font-weight: 500;
  }

  .heading3 {
    font-size: 18px;
  }

  .body1 {
    font-size: 18px;
    font-weight: 400;
  }

  .body2 {
    font-size: 16px;
    font-weight: 400;
  }

  .body2Strong {
    font-size: 16px;
    font-weight: 600;
  }

  .mobBody3 {
    font-size: 12px;
  }

  .mobBody3Strong {
    font-size: 12px;
  }
}

.labelText {
  font-size: 12px;
  font-weight: 400;
}

.body2 {
  font-size: 16px;
  font-weight: 400;
}