.textAreaContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.message{
  border: 1px solid var(--grey-500);
  color: var(--grey-500);
  border-radius: 8px;
  padding: 10px 15px;
  font-family: inherit;
  resize: none;
  margin-top: -3px;
}
